# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.log.*

# Environment variables
.env
.env.*.local

# TypeScript
dist/
build/
*.tsbuildinfo

# Prisma
prisma/generated/

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Optional: Ignore coverage output
coverage/
